mixin createFlatItems(items)
  each item in items
    li
      if item.sub
        li
          span.a=item.name
        li.divider
        each subItem in item.sub
          li.subItem
            a(href=subItem.link)=subItem.name
        li.divider
      else
        a(href=item.link)=item.name

mixin createItems(items)
  each item, index in items
    li
      if item.sub
        a.dropdown-button(href='javascript:;' data-activates='dropdown'+index)=item.name
        ul(id='dropdown'+index).dropdown-content
          each subItem in item.sub
            li
              a(href=subItem.link)=subItem.name
      else
        a(href=item.link)=item.name

mixin navigation(menuItems, title)
  .nav-wrapper
    a#logo-container.brand-logo(href='#')=title
    ul.right.hide-on-med-and-down
      +createItems(menuItems)

    ul#nav-mobile.side-nav
      +createFlatItems(menuItems)

    a.button-collapse(href='#', data-activates='nav-mobile')
      i.mdi-navigation-menu

- $ = locals.contents.navigation
.navbar-fixed
  nav#nav_f.default_color(role='navigation')
    .container
      +navigation($.items, $.title)
